body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 h3 h4{
    font-weight: bold;
}

a {
    color: maroon;
    font-weight: bold;
    text-decoration-line: underline;
}

p {
    text-align: justify;
}

hr{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray
}

* {
    box-sizing: border-box;
}

.column{
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.svc-pic{
    width: 100%;
    height: 300px;
    margin-top: 175px
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');

section{
    position: relative;
    width: 100%;
    height: 500;
    background: url(static/images/1.jpg);
    justify-content: center;
    align-items: center;
    text-align: center;

}

section .para-random{
    font-size: larger;
    color: white;
    mix-blend-mode: overlay;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.footer-content{
    text-align: center;
    align-items: center;
}


